*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    border: none;
    user-select: none;
    font-family: system-ui;
    scroll-behavior: initial !important;
    font-size: 16px;
    outline: none;
}


body {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: var(--background);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    

    /*principais cores*/
    --cor_primaria_1: #4591FF;
    --cor_primaria_2: #1673fa;
    --cor_primaria_3: #1259c0;

    --texto_1: #262a40;
    --texto_2: #7d7f8c;
    --texto_3: #e1dfe9;

    --background: #f7f9fb;
    --background_transp: #000A1180;

    --borda_01: #ced4de;

    --item_hover: #e7f1fe;
    --item_marcado: #b9d7ff;

    --icone_01: #7d7f8c;

    --verde: #5fef5c;
    --laranja: #ff9900;
    --vermelho: #f66868;

    --sombra_01: 0px 0px 15px 3px #00000030;

    --transition_1: 200ms ease-in-out;
    --transition_2: 300ms ease-in-out;
    --transition_3: 1000ms ease-in-out;
    
    --borda_arredondada_1: 16px;
    --borda_arredondada_3: 10px;

    --fonte_titulo: 24px;
    --fonte_descricao_1: 16px;
    --fonte_descricao_2: 13px;

    

}



button {
    cursor: pointer;
}

svg {
    width: 20px;
    height: 20px;
    fill: var(--icone_01);
    flex-shrink: 0;
}

p {
    color: var(--texto_2);
    font-size: var(--fonte_descricao_1);
    font-weight: 400px;
    text-align: left;
    font-style: normal;
    font-weight: normal;
}

mark {
    background: var(--laranja);
    color: var(--background);
    font-weight: 500;
    border-radius: 3px;
    padding: 0 2px;
}

::selection {
    background: var(--laranja);
    color: var(--background);
}










.cabecalho {
    width: 100%;
    height: 60px;
    background: transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    overflow: hidden;
}

.cbc_esq {
    width: fit-content;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
}

.titulo_pagina {
    color: var(--texto_1);
    font-size: var(--fonte_titulo);
    font-weight: 500;
    text-align: left;
}

.cbc_dir {
    width: fit-content;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    gap: 5px;
}

.cbc_dir > button {
    height: 80%;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    border-radius: var(--borda_arredondada_1);
    transition: var(--transition_1);
}

.cbc_dir > button > svg {
    width: 20px;
    height: 20px;
    transition: var(--transition_1);
}

.cbc_dir > button:hover {
    background: var(--item_hover);
}

.cbc_dir > button:hover > svg {
    transform: scale(1.2);
    fill: var(--cor_primaria_2);
}















.centro_pagina {
    width: 100%;
    height: 100%;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagem_perfil {
    width: 300px;
    height: 300px;
    border: 2px var(--borda_01) solid;
    border-radius: 50%;
    background: linear-gradient(145deg, #b3b3b3, #ececec);
    box-shadow:  25px 25px 61px #9c9c9c, -25px -25px 61px #ffffff;
    transition: var(--transition_1);
}

.imagem_perfil:hover {
    transform: scale(1.5);
}
